<h3>View Employee</h3>

<div>
    <div>
        <label> <b>First Name: </b></label> {{ employee!.firstName}}
    </div>
    <div>
        <label> <b>Last Name: </b></label> {{ employee!.lastName}}
    </div>
    <div>
        <label> <b>Email Id: </b></label> {{ employee!.emailId}}
    </div>
</div>